<aside>
	<div class="panel radius">
		<h3>Key skills</h3>
		<p>
			<b>Data cleaning and preprocessing:</b><br> 
			Missing values and potential outliers were addressed, and numerical features were scaled. Wine type was encoded as a binary variable
			<br><b>Logistic regression:</b><br>
			RFE was used to select six key features for predicting wine type: chlorides, residual sugar, fixed acidity, volatile acidity, pH, and sulphates. The model achieved 97.3% accuracy on the test data and was cross-validated using 5 folds.
			<br><b>Bayesian inference:</b><br>
			Using a quality score of 6 or higher to define "good" wines, this method explored the link between physiochemical properties and the probability of a wine being "good". Wines with citric acid levels between 0.29 and 0.34 g.dm-3 showed the highest probability.
		</p>
	</div>
</aside>